@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800&display=swap");
* {
  font-family: "Muli", sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #f5f5fa; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 99;
  background: #ffffff; }
  nav .row {
    height: 80px; }
    nav .row .branding {
      display: flex;
      align-items: center;
      min-height: 100%;
      position: relative; }
      nav .row .branding:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0;
        height: 100%;
        width: 50vw;
        background: #1772dd;
        z-index: -1; }
    nav .row .menu {
      margin: 0;
      padding: 0;
      margin-right: -15px;
      margin-left: -15px; }
      nav .row .menu li {
        float: left;
        list-style: none; }
        nav .row .menu li a {
          font-family: "Muli", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #2d2d46;
          margin: 0px 15px;
          position: relative; }
          nav .row .menu li a:hover {
            text-decoration: none; }
          nav .row .menu li a:after {
            content: "";
            width: 0%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: -4px;
            background: #ff6600;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
          nav .row .menu li a:hover:after {
            width: 100%; }
    nav .row .mg_nav {
      width: 24px;
      height: 24px;
      margin-left: 62px;
      display: flex;
      align-items: center; }
      nav .row .mg_nav div span {
        width: 18px;
        height: 2px;
        border-radius: 99px;
        background: #2d2d46;
        margin: 3px;
        display: block; }

.header {
  margin-top: 80px;
  overflow: hidden;
  position: relative; }
  .header:before {
    content: "";
    background-image: url(../img/watermark.svg);
    background-repeat: no-repeat;
    width: 322px;
    min-height: 100%;
    position: absolute;
    z-index: 2;
    transform: translateX(-40%);
    top: 20px;
    background-size: contain;
    z-index: 1; }
  .header .row {
    min-height: 460px; }
    .header .row .d-flex {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: calc(72px / 2 + 30px); }
    .header .row .int {
      position: relative; }
      .header .row .int .inner {
        z-index: 3; }
        .header .row .int .inner h1,
        .header .row .int .inner h2,
        .header .row .int .inner h3,
        .header .row .int .inner h4 {
          font-family: "Muli", sans-serif;
          color: #ffffff;
          font-weight: 800;
          font-size: 32px;
          line-height: 40px; }
        .header .row .int .inner p {
          font-family: "Muli", sans-serif;
          color: #ffffff;
          font-size: 18px;
          line-height: 23px; }
        .header .row .int .inner .btn {
          border-radius: 5px;
          padding: 12px 25px;
          color: #ffffff;
          font-weight: bold;
          position: relative;
          z-index: 2;
          overflow: hidden; }
          .header .row .int .inner .btn:after {
            content: "";
            background: #26e271;
            width: 50px;
            height: 50px;
            right: -51px;
            top: -25px;
            border-radius: 99px;
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          .header .row .int .inner .btn:hover:after {
            transform: scale(14); }
          .header .row .int .inner .btn:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #1cd265;
            z-index: -2;
            top: 0;
            left: 0px;
            position: absolute; }
        .header .row .int .inner .secondair {
          background: none;
          padding: 12px 20px;
          text-decoration: underline; }
          .header .row .int .inner .secondair:after {
            display: none; }
          .header .row .int .inner .secondair:before {
            display: none; }
      .header .row .int:after {
        content: "";
        background: #1772dd;
        position: absolute;
        right: 0px;
        top: 0;
        height: 100%;
        width: 50vw;
        z-index: 0; }
    .header .row .nopadding {
      padding: 30px 0px; }
    .header .row .lvh {
      display: flex; }
      .header .row .lvh .block {
        position: relative;
        z-index: 1;
        width: 100%; }
      .header .row .lvh h3 {
        font-family: "Muli", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        margin-bottom: 0px; }
      .header .row .lvh .inner {
        width: calc(100% - 76px);
        float: left; }
        .header .row .lvh .inner a {
          color: #ffffff;
          font-size: 16px;
          line-height: 20px; }
        .header .row .lvh .inner .item {
          display: flex;
          align-items: center;
          height: 38px; }
      .header .row .lvh .arws {
        margin-left: auto;
        display: flex; }
        .header .row .lvh .arws .next {
          transform: rotate(180deg); }
        .header .row .lvh .arws .next,
        .header .row .lvh .arws .prev {
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .header .row .lvh .arws .next:hover,
          .header .row .lvh .arws .prev:hover {
            background: rgba(255, 255, 255, 0.15);
            border-radius: 5px; }
      .header .row .lvh .dots ul {
        list-style: none;
        clear: both;
        display: block;
        margin: 0px;
        padding: 0px;
        margin-top: 14px;
        margin-left: -14px; }
        .header .row .lvh .dots ul li {
          float: left; }
          .header .row .lvh .dots ul li button {
            opacity: 0.25;
            text-indent: -9999px;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            max-width: 12px;
            width: 12px;
            height: 12px;
            padding: 0px;
            background: #fff;
            border-radius: 999px;
            margin: 0 14px;
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.15);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        .header .row .lvh .dots ul .slick-active button {
          opacity: 0.8;
          box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.15); }
    .header .row .lvhi {
      width: 100%; }
      .header .row .lvhi .inner {
        display: block; }
  .header .imghdr {
    width: 50vw;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 0;
    background-size: cover; }

.hpsf {
  margin-top: calc(-72px / 2);
  position: relative;
  z-index: 2; }
  .hpsf .sfv {
    background: #ffffff;
    border-top: 1px solid #cfcedf;
    border-right: 0px solid #cfcedf;
    border-bottom: 1px solid #cfcedf;
    border-left: 1px solid #cfcedf;
    border-radius: 10px 10px 10px 10px;
    height: 72px;
    display: flex;
    align-items: center;
    width: 100%; }
    .hpsf .sfv form {
      width: 100%; }
      .hpsf .sfv form label {
        display: none; }
      .hpsf .sfv form .uzp-row {
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px; }
        .hpsf .sfv form .uzp-row div:first-child {
          width: 100% !important; }
        .hpsf .sfv form .uzp-row div[class*="uzp-col"] {
          padding: 0px;
          width: auto; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] button[type="submit"] {
            height: 72px;
            border-radius: 0 10px 10px 0;
            font-family: Muli, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            z-index: 2;
            position: relative;
            background: none;
            overflow: hidden;
            border: none;
            padding: 0px 43px;
            width: auto;
            color: #ffffff; }
            .hpsf .sfv form .uzp-row div[class*="uzp-col"] button[type="submit"]:after {
              content: "";
              background: #ff751a;
              width: 50px;
              height: 50px;
              right: -51px;
              top: -25px;
              border-radius: 99px;
              position: absolute;
              z-index: -1;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
            .hpsf .sfv form .uzp-row div[class*="uzp-col"] button[type="submit"]:hover:after {
              transform: scale(14); }
            .hpsf .sfv form .uzp-row div[class*="uzp-col"] button[type="submit"]:before {
              content: "";
              width: 100%;
              height: 100%;
              background: #ff6600;
              z-index: -2;
              top: 0;
              left: 0px;
              position: absolute; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] input {
            height: 52px;
            border: 0px;
            color: #2d2d46;
            font-family: "Muli", sans-serif;
            font-size: 16px;
            border-right: 1px solid rgba(207, 206, 223, 0.25); }
            .hpsf .sfv form .uzp-row div[class*="uzp-col"] input::placeholder {
              color: #cfcedf;
              font-family: "Muli", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px !important;
              line-height: 20px; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] input[name="query"] {
            padding: 0px 25px;
            width: 100%; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] input[name="postal_code"] {
            width: 120px;
            margin: 0 auto;
            text-align: center; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] input[name="radius"] {
            width: 120px;
            margin: 0 auto;
            text-align: center; }
          .hpsf .sfv form .uzp-row div[class*="uzp-col"] .uzp__input-addon {
            display: none; }

/*# sourceMappingURL=style.css.map */
